* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    /* IOS禁止微信调整字体大小 */
    -webkit-text-size-adjust: 100% !important;
    text-size-adjust: 100% !important;
    -moz-text-size-adjust: 100% !important;
}

input {
    background: none;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
}

input:focus {
    border: none;
}